@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Font */
* {
  font-family: "Manrope", sans-serif;
}
/* Navbar CSS Styling */
header {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    189deg,
    rgba(63, 94, 251, 0.174) 0%,
    rgba(152, 115, 255, 0.146) 100%
  );
}
.navBar {
  @apply container mx-auto py-10 px-5 flex justify-between items-center;
}
