@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Font */
* {
  font-family: "Manrope", sans-serif;
}
/* Navbar CSS Styling */
header {
  background: rgba(63, 94, 251, 0.321);
  background: linear-gradient(
    189deg,
    rgba(63, 94, 251, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
}
.navBar {
  @apply container mx-auto py-10 px-5 flex justify-between flex-col lg:flex-row lg:items-center overflow-hidden;
}
.btnPrimary {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  @apply rounded-lg px-4 py-3 font-semibold text-white;
}
.navLinks {
  @apply text-gray-700 font-semibold my-5 flex flex-col lg:flex-row mt-10 lg:mt-auto;
}
/* Homepage Hero Section */
.heroContainer {
  background: rgba(63, 94, 251, 0.321);
  background: linear-gradient(
    189deg,
    rgba(63, 94, 251, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
  @apply flex flex-col lg:flex-row justify-between items-center pt-5 px-5 md:px-20 lg:px-60;
}
.categoryCardContainer {
  @apply grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-4;
}
.catCard {
  @apply bg-violet-100 p-10;
}
.fCard {
  @apply bg-gray-100 border-gray-300 border-2 rounded-lg p-5;
}
.footerContainer {
  background: #1a1919;
  @apply py-32 mt-10 text-white;
}
.applyPageBanner {
  background-image: url("./assets/AllImages/Vector.png");
  background-position: left top, right bottom;
  @apply bg-no-repeat lg:bg-contain bg-scroll text-center py-28 lg:py-36 lg:bg-[url('./assets/AllImages/Vector-1.png'),url('./assets/AllImages/Vector.png')];
}
.jobContainer {
  @apply grid grid-cols-1 lg:grid-cols-3 container mx-auto px-3 mt-20 gap-5;
}
.jobDetails {
  @apply border border-gray-300 p-5 lg:col-span-2;
}
.jobBrief {
  @apply p-5 bg-violet-200 text-gray-700 text-xl rounded-lg;
}
.appliedJobContainer {
  @apply container mx-auto px-3;
}
.jobItem {
  @apply p-5 border border-gray-300 flex flex-col lg:flex-row lg:justify-between lg:items-center;
}
